@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --primary: #457dc3;
    --secondary: #5a96df;
    --white: #fff;
    --blue-grey: #dee6ee;
    --grey: #a1a1a1;
    --dark: #444;
}


h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--primary);
    font-size: 38px;
    margin-bottom: 10px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--dark);
    font-size: 50px;
    margin-top: 10px;
}

.hero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--blue-grey);
    padding: 20vh 0 0 20vw;
    display: block;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50%));
}

.hero a{
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-image: linear-gradient(to bottom, var(--secondary), var(--primary));
    border: 1px solid var(--primary);
    padding: 17px 40px;
    border-radius: 5px;
    text-decoration: none;
}
.hero a:hover{
    background-image: linear-gradient(to bottom, var(--secondary), var(--primary), var(--primary));
}
.form-wrapper{
    background: var(--white);
    width: 550px;
    padding: 60px 0;
    border-radius: 10px;
}
.form-wrapper > h2{
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.form-div form{
    width:400px;
    margin-left: 75px;
}
.form-div label{
    font-family: 'Roboto', sans-serif;
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
}
.form-div > div > form > input{
    display: block;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    padding: 12px 10px;
    margin: 5px 0 10px 0;
    border: 1px solid var(--grey);
    box-sizing: border-box;
}
.form-div > div > form > input:focus{
    outline: 0;
    border: 1px solid var(--secondary);
    box-shadow: 1px 1px 5px var(--blue-grey);
}
.form-div > div > form > input[type='button']{
    display: block;
    width: 100%;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, var(--secondary), var(--primary));
    border: 1px solid var(--primary);
    padding: 17px 40px;
    border-radius: 5px;
}
.token{
    font-family: 'Roboto', sans-serif;
    margin: 20px 75px 0 0;
    min-height: 70px;
    color: var(--grey);
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0 75px;
    
}
.token:focus{
    border: none;
    outline: 0;
}
